{% extends 'back-base.html' %}
{% load static %}

{% block head_title %}All FAQs{% endblock head_title %}

{% block content %}

    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">All FAQs</li>
                    </ol>
                </div>
                <h4 class="page-title">All FAQs
                    {% if request.user.role == 'DT' %}
                        <a href="{% url 'faqs:faqs-create' %}" class="btn btn-success btn-sm ms-3">Add New FAQ</a>
                    {% endif %}
                </h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h3 class="">Frequently Asked Questions</h3>
            </div>
        </div>
    </div>
    
    {% if request.user.role == 'DAHR' or request.user.role == 'CHAIRMAN' or request.user.role == 'MD' %}
    <div class="row">
        <div class="col-12">
            {% include 'includes/alerts.html' %}
            <div class="card">
                <div class="card-body">
                    <table id="scroll-horizontal-datatable" class="table w-100 nowrap">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Question</th>
                                <th>Answer</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for faq in all_faqs %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url 'faqs:faqs-edit' faq.id %}"> {{ faq.question | title }}</a></td>
                                <td>{{ faq.answer|safe }}</td>
                                <td>{% if faq.is_active %}
                                        <span class="badge badge-success-lighten p-1 font-14">Active</span>
                                    {% else %}
                                        <span class="badge badge-warnig-lighten p-1 font-14">Active</span>
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'faqs:faqs-delete' faq.id %}">Delete</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <p>You currently do not have access to this page.</p>
    {% endif %}
{% endblock content %}