{% extends "back-base.html" %}

{% load static %}
{% block head_title %}Mail Messages{% endblock head_title %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Mail Messages</li>
                    </ol>
                </div>
                <h4 class="page-title">Mail Messages</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="scroll-horizontal-datatable" class="table w-100 nowrap">
                        <thead>
                            <tr>
                                <th>SN.</th>
                                <th>Title</th>
                                <th>Message</th>
                                <th>Date Sent</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for msg in messages_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="#">{{ msg.title }}</a></td>
                                <td>{{ msg.message | truncatewords:15 }}</td>
                                <td>{{ msg.created_at | date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

                                            