{% extends 'back-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Procurement Request Form{% endblock head_title %}

{% block content %}
    
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="">My Products</a></li>
                        <li class="breadcrumb-item active">Procurement Request Form</li>
                    </ol>
                </div>
                <h4 class="page-title">Procurement Request Form</h4>
            </div>
        </div>
    </div>
  
    <div class="row">
        <div class="col-12">
           
            {% include 'includes/alerts.html' %}
            
            {% if request.user.is_authenticated %}
                
                {% if request.user.role == 'DMP' %}
                        
                        <div class="card">
                            <div class="card-body">
                                <form enctype="multipart/form-data" class="container" method="post" id="procurement_request_form">
                                    {% csrf_token %}
                                    <!-- main form start in our case product form -->
                                    <div class="card">
                                        <div class="card-header card-header-secondary">
                                            <h4 class="card-title">Send Procurement Request</h4>
                                        </div>
                                        {% for field in form %}
                                            <div class="form-group card-body">
                                                <label>{{field.label}}</label>
                                                {% if field.field.required %}
                                                    <span style="color: red;" class="required">*</span>
                                                {% endif %}
                                            
                                                {{ field | as_crispy_field }}
                                                
                                                {% if field.help_text %}
                                                    <small style="color: grey">{{ field.help_text }}</small>
                                                {% endif %}
                                                {% for error in field.errors %}
                                                    <p style="color: red">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- main form end in procurement reques form -->

                                    <!-- inline form for procurement item start -->

                                    <!-- EXPLAINING with named_formsets.procurement_items as formset -->
                                    <!-- Note: named_formsets is used in get_context_data function in views.py -->
                                    <!-- Note: here variants is our VariantFormSet name, used in get_named_formsets function in views.py -->
                                    {% with named_formsets.procurement_items as formset %}
                                        {{ formset.management_form }}
                                        <script type="text/html" id="procurement_items-template">  // id="inlineformsetname-template"
                                            // id='inlineformsetname-__prefix__' 
                                            <tr id="procurement_items-__prefix__" class= hide_all>
                                                {% for fields in formset.empty_form.hidden_fields %}
                                                    {{ fields }}
                                                {% endfor %}
                                            
                                                {% for fields in formset.empty_form.visible_fields %}
                                                    <td>{{fields}}</td>
                                                {% endfor %}
                                            </tr>
                                        </script>
                                        <div class="table-responsive card mt-4">
                                            <div class="card-header card-header-secondary">
                                                <h4 class="card-title">Add Item</h4>
                                            </div>
                                            <table class="table card-header">
                                                <thead class="text-secondary">
                                                    <th>Item name <span style="color: red;" class="required">*</span></th>
                                                    <th>Description <span style="color: red;" class="required">*</span></th>
                                                    <th>Unit price <span style="color: red;" class="required">*</span></th>
                                                    <th>Quantity needed <span style="color: red;" class="required">*</span></th>
                                                    <th>Reasons for item need<span style="color: red;" class="required">*</span></th>
                                                    <th>Delete?</th>
                                                    <th>Custom Delete</th>
                                                </thead>
                                                <tbody id="item-procurement_items">  <!-- id="item-inlineformsetname" -->
                                                    <!-- formset non forms errors -->
                                                    {% for error in formset.non_form_errors %}
                                                        <span style="color: red">{{ error }}</span>
                                                    {% endfor %}
                                                    {% for formss in formset %}
                                                        {{ formss.management_form }}
                                                        <tr id="procurement_items-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                                                            {{ formss.id }}
                                                            {% for field in formss.visible_fields %}
                                                                <td>
                                                                    {{ field | as_crispy_field }}
                                                                    {% for error in field.errors %}
                                                                        <span style="color: red">{{ error }}</span>
                                                                    {% endfor %}
                                                                    
                                                                    {% comment %} {{ field.DELETE }} {% endcomment %}
                                                                </td>
                                                            {% endfor %}
                                                            {% comment %} for delete {% endcomment %}
                                                            {% if formss.instance.pk %}
                                                                <td>
                                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{formss.instance.pk}}">
                                                                        Delete
                                                                    </button>
                                                                    <!-- Modal -->
                                                                    <div class="modal fade" id="exampleModal{{formss.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{formss.instance.pk}}" aria-hidden="true">
                                                                        <div class="modal-dialog" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                            <h5 class="modal-title" id="exampleModalLabel{{formss.instance.pk}}">Are Your Sure You Want To Delete This?</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <a href="{% url 'procurements:delete-procurement-item' formss.instance.pk %}" type="button" class="btn btn-primary">Yes, Delete</a>
                                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                            </div>
                                                                        </div>
                                                                        </div>
                                                                    </div>
                                                                </td>            
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <a href="#" id="add-procurement_item-button" class="btn btn-secondary add-procurement_items">Add More</a> <!-- id="add-inlineformsetname-button" -->
                                        </div>
        
                                    {% endwith %}
                                    <!-- inline form for Images end -->

                                    <div class="form-group">
                                        <input type="submit" class="btn btn-secondary btn-block" value="Submit">
                                    </div>
                            </form>

                            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

                            <script>
                                $(document).ready(function() {
                                    // when user clicks add more btn of procurement_items
                                    $('.add-procurement_items').click(function(ev) {
                                        ev.preventDefault();
                                        var count = $('#item-procurement_items').children().length;
                                        var tmplMarkup = $('#procurement_items-template').html();
                                        var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
                                        $('#item-procurement_items').append(compiledTmpl);
                                
                                        // update form count
                                        $('#id_procurement_items-TOTAL_FORMS').attr('value', count+1);
                                    });
                                });
                            </script>    
                        </div>
                    </div>
                {% else %}
                    <h4>You have permission to this page.</h4>
                {% endif %}
            {% endif %}
        </div>
    </div>                        
{% endblock content %}