{% extends 'back-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}MD's Approval{% endblock head_title %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'procurements:procurement-requests' %}">Messages</a></li>
                        <li class="breadcrumb-item active">MD's Approval</li>
                    </ol>
                </div>
                <h4 class="page-title">MD's Approval</h4>
            </div>
        </div>
    </div>
    
    {% if request.user.role == "MD" %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h3>MD's Approval</h3>

                        <form method="post">{% csrf_token %}
                            <div class="row mb-3">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    {{ form.md_approval_status | as_crispy_field }}
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    {{ form.md_comment | as_crispy_field }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <input class="btn btn-info" type="submit" value="Save">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>You currently do not have access to this page. Please</p>
    {% endif %}

{% endblock content %}