{% extends "front-base.html" %}
{% load static %}
{% block head_title %}About us{% endblock head_title %}

{% block content %}

    <div class="ltn__breadcrumb-area ltn__breadcrumb-area-1 ltn__breadcrumb-color-white bg-overlay-theme-black-70 bg-image" data-bg="{% static 'frontend/img/bg/01.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner ltn__breadcrumb-inner-2 justify-content-between">
                        <div class="section-title-area ltn__section-title-2">
                            
                            <h1 class="white-color">About Us</h1>
                        </div>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="{% url 'pages:index' %}">Home</a></li>
                                <li>About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ltn__about-us-area pb-115">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="about-us-img-wrap ltn__img-shape-left  about-img-left">
                        <img src="{% static 'frontend/img/about/chairman.png' %}" alt="Image">
                    </div>
                    <div class="about-author-info d-flex">
                        <div class="author-name-designation  align-self-center">
                            <h4 class="mb-0">Alhaji Abubakar Usman</h4>
                            <small>Chairman</small>
                        </div>
                        <!--<div class="author-sign">
                            <img src="img/icons/icon-img/author-sign.png" alt="#">
                        </div>
                        -->
                    </div>
                </div>
                
                <div class="col-lg-7">
                    <div class="about-us-info-wrap">
                            <h1 class="">Value Agro Allied<span>.</span></h1>
                                                 
                            <div style="text-align:justify">
                                The Chairman, Alhaji Abubakar Usman is an experienced entreprenuer with innovative business ideas encircled 
                                with competent team of experts from different fields.
                                
                                He has experience in import and export, logistics, input and agricultural commodities with long-term 
                                working relationship with Fertilizer Companies (Stallion group, Indorama, Notore, and Dangote).<br> 
                                He initiated and lead the following companies; Abadan Seed Limited, Abadan Real Estate Developers Limited, 
                                Abadan Atlantic, Value Agro Allied Unique Synergy System Limited, A U Sambo De-trading Co Limited,
                                Sambo standard Vision Limited, Doman Aged Logistic services Limited, Belcom Standard Investment Limited,
                                Qadar Oil and Petroleum Limited as well as Spectrum Continental Synergy Limited.

                                In supporting the nation to develop effective structures to deliver services to the people, Alhaji Abubakar
                                was involved in Logistics with Celulant Limited, Agro Dealership, Transporting, and commodity marketing.
                                
                                Alhaji Abubakar Usman hailed from North-Eastern Nigeria but has track records of philanthropism across the 
                                length and breadth of the country. A well-travelled young executive with lots of international contacts
                                and a huge base of local connections.
                            </div>                       
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="ltn__feature-area ltn__primary-bg pt-115 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title white-color">Vision<span> &amp;</span> Mission</h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-5 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-7 ltn__feature-item-7-color-white">
                        <div class="ltn__feature-icon-title">
                            <div class="ltn__feature-icon">
                                <span><i class="fa fa-eye"></i></span>
                            </div>
                            <h3>Vision</h3>
                        </div>
                        <div class="ltn__feature-info">
                            <p>
                                To be a leading value chain solution provider for sustainable development
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-7 ltn__feature-item-7-color-white">
                        <div class="ltn__feature-icon-title">
                            <div class="ltn__feature-icon">
                                <span><i class="fa fa-circle"></i></span>
                            </div>
                            <h3>Mission</h3>
                        </div>
                        <div class="ltn__feature-info">
                            <p>
                                To transform businesses through various means, including digital technology infusion into value chain marketplaces, creating value for rural and urban trades and businesses through enhanced models, and relationships between partners and other market actors.
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <hr>

    <div class="ltn__about-us-area pt-120--- pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="about-us-img-wrap about-img-left">
                        <img src="{% static 'frontend\img\about\NPK2.jpg' %}" width="500px" height="600px" alt="NPK Fertilizer">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area">
                            <h5 class="section-title">Branded Fertilizer</h5>
                        </div>
                        <p>
                            The content for this section is left as such for update
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ltn__about-us-area pt-120--- pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area">
                            <h5 class="section-title">Branded Fertilizer</h5>
                        </div>
                        <p>
                            The content for this section is left as such for update
                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="about-us-img-wrap about-img-left">
                        <img src="{% static 'frontend\img\about\NPK1.jpg' %}" width="500px" height="600px" alt="NPK Fertilizer">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="ltn__about-us-area pt-120--- pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="about-us-img-wrap about-img-left">
                        <img src="{% static 'frontend\img\about\farm1.jpg' %}" alt="Farm">
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area">
                            <h5 class="section-title">Rice Farm</h5>
                        </div>
                        <p>
                            The content for this section is left as such for update
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>


    {% if team %}
    <div class="ltn__team-area pt-115 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title white-color---">Management Team</h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for member in team %}
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="ltn__team-item">
                        <div class="team-img">
                            <img src="{{ member.display_picture.url }}" alt="Image">
                        </div>
                        <div class="team-info">
                            <h6 class="ltn__secondary-color">//  {{ member.designation }}  //</h6>
                            <h4><a href="{{ member.get_absolute_url }}">{{ member.user.get_full_name }}</a></h4>
                            <div class="ltn__social-media">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    {% endif %}


    <div class="call-to-action-area call-to-action-2 bg-image bg-overlay-theme-90 pt-40 pb-25" data-bg="{% static 'frontend/img/bg/13.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="call-to-action-inner call-to-action-inner-5 text-center">
                        <h2 class="white-color text-decoration">24/7 Availability</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div>

    </div>

    <div class="ltn__call-to-action-area ltn__call-to-action-1 bg-image pt-115 pb-120" data-bg="{% static 'frontend/img/bg/07.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-4 text-center">
                        <div class="section-title-area ltn__section-title-2">
                            <h6 class="section-subtitle ltn__secondary-color">//  Do you have any question?  //</h6>
                            <h1 class="section-title white-color">(+234) 8039397766</h1>
                        </div>
                        <div class="btn-wrapper">
                            <a href="{% url 'contacts:contact-form' %}" class="btn btn-transparent btn-effect-3 white-color">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="ltn__call-to-4-img-1">
            <img src="{# static 'frontend/img/bg/12.png' #}" alt="#">
        </div>
        <div class="ltn__call-to-4-img-2">
            <img src="{# static 'frontend/img/bg/11.png' #}" alt="#">
        </div>
        -->
    </div>
    
    <div class="ltn__newsletter-area section-bg-1 bg-overlay-black-90 pt-110 pb-90 bg-image" data-bg="{% static 'frontend/img/bg/2.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="ltn__newsletter-inner text-center">
                        <h1 class="white-color">We bridge the gap between you and what you want</h1>
                        <p class="white-color">Sign up to our newsletter to receive grooming tips and <br> exclusive access to pre-launch product pricing and more.</p>
                        
                        <a href="{% url 'newsletters:subscription_form' %}" class="theme-btn-1 btn text-uppercase">Subscribe</a>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if testimonials %}
    <div class="ltn__testimonial-area section-bg-1 pt-115 pb-70">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-1 text-center">
                        <h6 class="section-subtitle ltn__secondary-color">//  Testimonials</h6>
                        <h1 class="section-title">Clients Feedbacks<span>.</span></h1>
                    </div>
                </div>
            </div>
            
            <div class="row ltn__testimonial-slider-3-active slick-arrow-1 slick-arrow-1-inner">
                {% for testimony in testimonials %}
                <div class="col-lg-12">
                    <div class="ltn__testimonial-item ltn__testimonial-item-4">
                        <div class="ltn__testimoni-img">
                            <img src="{% if testimony.client.profile.profile_picture %}{{ testimony.client.profile.profile_picture.url }} {% else %} {% static 'backend/assets/images/users/no-picture.png' %} {% endif %}" width="400px" alt="Client Profilt Picture">
                        </div>
                        <div class="ltn__testimoni-info">
                            <p>{{ testimony.testimony }} </p>
                            <h4>{{ testimony.client }}</h4>
                            <h6>Client</h6>
                        </div>
                        <div class="ltn__testimoni-bg-icon">
                            <i class="far fa-comments"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <br>
    
    {% if partners %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-1 text-center">
                    <h1 class="section-title"><a href="{% url 'partners:partners' %}">Our Partners</a></h1>
                </div>
            </div>
        </div>
    <div>

    <div class="ltn__brand-logo-area ltn__brand-logo-1 section-bg-6 border-top pt-35 pb-35 plr--9">
        <div class="container-fluid">
            
            <div class="row ltn__brand-logo-active">
                {% for partner in partners %}
                    <div class="col-lg-12">
                        
                        <div class="ltn__brand-logo-item justify-content-center">
                            <a href="{% if partner.website %}{{ partner.website }} {% else %} {% url 'partners:partner-details' partner.slug %} {% endif %}">
                                <img src="{{ partner.logo.url }}" alt="{{ partner.name }} Logo">
                            <br>
                            {{ partner.name }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}