{% extends "front-base.html" %}
{% load static %}

{% block head_title %}404{% endblock head_title %}

{% block content %}
			<!-- contact area -->
			<div class="container">
				<!-- 404 Page -->
				<div class="section-content">
					<div class="row">
						<div class="col-lg-12">
							<div class="page-notfound error-box text-center">
								<form method="post">
									<h2 class="error-text">404</h2>
									<p>Page cannot be found! We'll have it figured out in no time.Meanwhile, check out these fresh ideas:</p>
									<div class="input-group">
										
									</div>
									<a href="{% url 'pages:index' %}" class="site-button">Back To Home</a>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
   {% endblock content %}