{% extends 'back-base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}Register Driver{% endblock head_title %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'accounts:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'logistics:logistics-home' %}">Logistics Home</a></li>
                        <li class="breadcrumb-item active">Register Driver</li>
                    </ol>
                </div>
                <h4 class="page-title">Register Driver</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            {% include 'includes/alerts.html' %}
            <div class="card align-items-center">
                <div class="card-body">

                    <h3>Register Driver</h3>

                    <form method="post" novalidate enctype="multipart/form-data">{% csrf_token %}
                        <div class="row align-items-center">
                            <div class="col-12">
                                {{ form |crispy }}
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="mb-3">
                               <input type="submit" value="Save" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}